body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}

BookButton{
    background-color:azure;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
}
.container{
    color:black;
}
